<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
      
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{ site.title | escape }}</li>
          <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#101;&#108;&#108;&#111;&#64;&#98;&#121;&#98;&#97;&#99;&#111;&#110;&#46;&#99;&#111;&#109;">&#104;&#101;&#108;&#108;&#111;&#64;&#98;&#121;&#98;&#97;&#99;&#111;&#110;&#46;&#99;&#111;&#109;</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
